doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    title= '模板写法'
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-touch-fullscreen" content="yes")
    meta(name="format-detection",content="telephone=no,email=no")
    meta(name="App-Config",content="fullscreen=yes,useHistoryState=yes,transition=yes")
    meta(name="keywords" content="")
    meta(name="description" content="")
    block css
    link(href="../assets/css/sprite.css", rel="stylesheet")

  body
    .container
      i.icon-wait

    script(src="../js/index.js")
