extends ./layout/layout
block css
	link(type="text/css" href="../assets/css/index.min.css" rel="stylesheet")
block content
	.container
		//- include ./layout/navbar
		.p 测试
block script
	script.

	script(src="../js/index.min.js")
