// 单行文本
@mixin ellipse-single($width:200px) {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: $width;
}

// 多行文本
@mixin ellipse-more($width:200px, $lineHeight: 1.4) {
	position: relative;
	line-height: $lineHeight;
	height: 3 * $lineHeight; // 3倍行高显示三行内容
	overflow: hidden;
	width: $width;

	&::after {
		content: "...";
		font-weight: bold;
		position: absolute;
		bottom: 0;
	}
}

@mixin flex($direction: column, $wrap: nowrap) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
}

// 美化滚动条
@mixin scrollbar($width:5px, $height:5px, $radius:5px, $thumb:5px) {
	width: 100%;
	overflow-y: scroll;

	// 定位整个滚动条元素
	&::-webkit-scrollbar {
		width: $width;
		height: $height;
		border-radius: $radius;
		background-color: #e3e3e3;
	}

	// 瞄准滚动条拇指
	&::-webkit-scrollbar-thumb {
		border-radius: $thumb;
		background-color: #cbcbcb;
	}

	// 仅针对滚动条轨道
	&::-webkit-scrollbar-track {
		border-radius: $thumb;
		background-color: #e3e3e3;
	}
}

// 可变参数
@mixin box-shadow($shadows...) {
	-moz-box-shadow: $shadows;
	-webkit-box-shadow: $shadows;
	box-shadow: $shadows;
}

// .shadows {
// 		@include box-shadow(0px 4px 5px #666, 2px 6px 10px #999);
// }

//2倍图、3倍图，默认2倍图
@mixin bg-image($url) {
	background-image: url("./images/"+ $url + "@2x.png");

	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (min-device-pixel-ratio: 2) {
		background-image: url("./images/"+ $url + "@3x.png");
	}
}